.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
